/**
 * Colors
 */

// B+W
$c-white: #fff;
$c-black: #000;

// Grays
$c-gray-darkest: #222;
$c-gray-darker: #333;
$c-gray-dark: #444;
$c-gray: #888;
$c-gray-light: #aaa;
$c-gray-lighter: #bfbfbf;
$c-gray-lightest: #dfdfdf;
