doctype html
html
  head
    title=`${site.name} » ${title}`
    link(rel="stylesheet", href="/client.css")
    link(rel="shortcut icon", type="image/png", href="/assets/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body(class=`theme-default`)
    block content

    block scripts
      script(src="/client.js")
