/**
 * Nav
 */
@import '../../global/scss/util';

.nav {
  @include ff-kanit;

  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.75rem 1rem;

  &__main {
    display: flex;
    flex-wrap: nowrap;

    &_link {
      display: flex;
      padding: 0.75rem 1.25rem;
    }
  }
}
