/**
 * Server Status
 */

@import '../../global/scss/util';

.servers {

  // Server Quickview (Nav Bar)
  &__nav-quickview {
    position: relative;
    display: flex;

    &_icon {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent;
      margin-right: 0.6rem;

      &:last-child {
        margin-right: 0;
      }

      &_image {
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 0.25rem;
        border-radius: 14px;
        border: 2px solid transparent;

        .servers__nav-quickview_icon.up & {
          border-color: $c-green-status;
        }

        .servers__nav-quickview_icon.down & {
          border-color: $c-red-status;
        }

      }

      &_title {
        font-weight: 100;
        font-size: 0.75rem;

        .servers__nav-quickview_icon.up & {
          color: $c-green-status;
        }

        .servers__nav-quickview_icon.down & {
          color: $c-red-status;
        }
      }
    }
  }

  // Sever Modal (On Click)
  &__modal {
    display: none;
    //@TODO: Create modal mixin, extend modal styling
  }

}
